*{
    margin: 0;
    padding: 0;
}

#canvas1 {
    position: absolute;
}

.controls{
    z-index: 100;
    position: absolute;
}

img{
    display: none;
}

#warpButton{
    color: black;
    font-size: 30px;
    padding: 10px 20px;
    font-style: italic;
    border: 2px solid black;
    background-color: white;
}

#warpButton:hover{
    color: white;
    background-color: black;
}